@use "@styles/mixins.module.scss" as mixins;
@use "@styles/variables.module.scss" as variables;

.container__highlight {
    margin-top: 50px;
    @include mixins.flex_box_custom(space-between, center, 10px);
}

.container__product {
    @include mixins.flex_box_custom(space-evenly, center, 20px);
    flex-wrap: wrap;
    margin-top: 10px;
}

.container__productList {
    @include mixins.flex_box_custom(center, flex-start, 20px);
    flex-direction: column;
}

