@use "@styles/mixins.module.scss" as mixins;
@use "@styles/variables.module.scss" as variables;

.container {
    @include mixins.flex_box_custom(space-between, center, 5px);
    flex-direction: column;
    height: 100vh;
    width: 100%;
    .cart__header {
        font-size: 18px;
    }
    .sidebar__cart {
        @include mixins.flex_box_custom(normal, center, 50px);
        flex-direction: column;
        width: 100%;
        overflow-y: auto;
        height: 80%;
        .cart__content {
            width: 90%;
            overflow-y: auto;
        }
    }

    .card__total {
        @include mixins.flex_box_custom(space-between, center, 5px);
        flex-direction: column;
        width: 100%;
        padding-bottom: 40px;
        // height: 30%;

        .cart__totalPrice {
            @include mixins.flex_box_custom(space-between, center, 5px);
            width: 90%;
        }
        .cart__button {
            @include mixins.flex_box_custom(center, center, 5px);
            flex-direction: column;
            width: 100%;
            Button {
                width: 90%;
            }
        }
    }
}
