@use "@styles/mixins.module.scss" as mixins;
@use "@styles/variables.module.scss" as variables;

.box {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
}

.title {
    font-size: 18px;
    color: #888888;
}
