@use "@styles/mixins.module.scss" as mixins;
@use "@styles/variables.module.scss" as variables;

.container__bannerCountdown {
    @include mixins.flex_box_custom(center, center, 0px);
    background-image: url(@images/HighlightCountdown.jpeg);
    height: 409px;
    width: calc(100% / 2);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}
.container__items {
    @include mixins.flex_box_custom(center, center, 10px);
    margin-top: 60px;
}

.headingline {
    color: variables.$secondary-color;
    font-size: 28px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 40px;
}
