@use "@styles/mixins.module.scss" as mixins;
@use "@styles/variables.module.scss" as variables;

.container__sidebar {
    position: relative;

    .sidebar__overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #0000004d;
        z-index: 1000;

        transition: all 400ms;
    }

    .sidebar__content {
        background-color: #fff;
        position: fixed;
        top: 0;
        right: 0;
        width: 350px;
        height: 100vh;
        z-index: 1001;

        transform: translateX(100%);
        transition: all 500ms;

        .sidebar__mainContent {
            // @include mixins.flex_box_custom(center, center, 0px);
            // flex-direction: column;
            margin-top: 15px;
            height: 100vh;
        }
    }
    .slider {
        transform: translateX(0);
    }
    .sidebar__close {
        @include mixins.flex_box_custom(center, center, 0px);
        position: absolute;
        top: 10px;
        left: -50px;
        width: 35px;
        height: 35px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: all 300ms;
        &:hover {
            background-color: #e1e1e1;
            transition: all 300ms;
        }
    }
}
