@mixin global_radius($radius: 3px) {
    border-radius: $radius;
}

@mixin button($w, $h, $radius, $color) {
    outline: none;
    border: 1px solid #e1e1e1;
    width: $w;
    height: $h;
    background-color: $color;
    @include global_radius($radius);
}

@mixin flex_box_custom($x, $y, $gap: 10px) {
    display: flex;
    justify-content: $x;
    align-items: $y;
    gap: $gap;
}
