@use "@styles/mixins.module.scss" as mixins;
@use "@styles/variables.module.scss" as variables;

.container {
    @include mixins.flex_box_custom(center, center, 0px);

    background-image: url(../../assets/images/Banner.jpeg);
    min-height: 750px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container__content {
    @include mixins.flex_box_custom(center, center, 0px);
    flex-direction: column;
}

.content__main {
    color: variables.$secondary_color;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 52px;
    font-size: 42px;
    margin: 15px;
}

.container_desc {
    color: variables.$third_color;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 30px;
}
